monitor.pxlwrx.de:9090 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / prometheus:9090 {
            transparent
        }

    errors stderr
    tls on
}

monitor.pxlwrx.de:9093 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / alertmanager:9093 {
            transparent
        }

    errors stderr
    tls on
}

monitor.pxlwrx.de:9091 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / pushgateway:9091 {
            transparent
        }

    errors stderr
    tls on
}

monitor.pxlwrx.de {
    proxy / grafana:3000 {
            transparent
            websocket
        }

    errors stderr
    tls on
}